<%= bootstrap_form_for(@post) do |f| %>
	<%= f.text_field :title,
					  maxlength: 100,
					  placeholder: 'Title',
					  class: 'form-control',
					  required: true,
					  minlength: 5 %>
	<%= f.hidden_field :branch, :value => @branch %>
	<%= f.text_area :content,
					 rows: 6,
					 required: true,
					 minlength: 20,
					 maxlength: 1000,
					 placeholder: 'Describe what you are looking for. e.g. specific interests, expertise level, etc.',
					 class: 'form-control' %>
	<%= f.collection_select :category_id, @categories, :id, :name, class: 'form-control' %>
	<%= f.submit "Create a post", class: 'form-control' %>
<% end %>


