<li id="hobby">
	<%= link_to hobby_posts_path do %>
		<i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a hobby
	<% end %>
</li>

<li id="study">
	<%= link_to study_posts_path do %>
		<i class="fa fa-graduation-cap" aria-hidden="true"></i> Find a study
	<% end %>
</li>

<li id="team">
	<%= link_to team_posts_path do %>
		<i class="fa fa-users" aria-hidden="true"></i> Find a team member
	<% end %>
</li>
