nav {
	.navbar-header {
		width: 100%;
		button, .navbar-brand {
			transition: opacity 0.15s;
		}
		button {
			margin-right: 0;
		}
		button:hover, .navbar-brand:hover {
			opacity: 0.8;
		}
	}
	.col-sm-5, .col-sm-7 {
	padding: 0;
	}
}
.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
	background: $navbarColor !important;
	border: none;
	a {
	color: white !important;
	}
}

body {
	margin-top: 50px;
}

.pc-menu {
  margin-right: 10px;
}

.mobile-menu {
  i {
    color: white;
  }
  ul {
    padding: 0px;
  }
  a {
    display: block;
    padding: 10px 0px 10px 25px !important;
  }
  a:hover {
    background: white !important;
    color: black !important;
    i {
      color: black;
    }
  }
}

.icon-bar {
  background-color: white !important;
}

.active a {
  background: $navbarColor !important;
  border-bottom: solid 5px white;
}

.dropdown-toggle, .dropdown-menu {
  background: $navbarColor !important;
  border: none;
}

.dropdown-menu a:hover {
  color: black !important;
  background: white !important;
}
