<li class="dropdown pc-menu">
	<a id="user-settings" class="dropdonw-toggle" data-toggle="dropdown" href="#">
		<span id="user-name"><%= current_user.name %></span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
		<li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
	</ul>
</li>
<li class="mobile-menu">
	<%= link_to 'Edit Profile', edit_user_registration_path %>
</li>
<li class="mobile-menu">
	<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
</li>