<%= render 'posts/modal' %>

<div class="container">
	<div class="row">
		<%= render 'pages/index/side_menu' %>
		<%= render 'pages/index/main_content' %>
	</div><!-- row -->
</div><!-- container -->



