<!-- Modal -->
<div class="modal myModal"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="myModalLabel">
	 <div class="modal-dialog modal-lg" role="document">
	 	<div class="modal-content">
	 		<div class="modal-header">
	 			<span class="posted-by"></span>
	 			<button type="button"
	 					class="close"
	 					data-dismiss="modal"
	 					aria-label="Close">
	 				<span aria-hidden="true">&times;</span>
	 			</button>
	 		</div>
	 		<div class="modal-body">
	 			<div class="loaded-data">
	 				<h3></h3>
	 				<p></p>
	 				<div class="interested"><a href="">I'm interested</a></div>
	 			</div><!-- loaded-data -->
	 		</div><!-- modal-body -->
	 	</div>
	</div>
</div>

