<%= render 'posts/modal' %>
<%= render partial: 'posts/branch', locals: {
	branch: 'hobby',
	page_title: 'Find a person with the same hobby',
	search_placeholder: 'E.g. guitar playing, programming, cooking'
	} %>