<div id="single-post-content" class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="posted-by">Posted by <%= @post.user.name %></div>
			<h3><%= @post.title %></h3>
			<p><%= @post.content %></p>
		</div>
	</div>
</div>