<%= render 'posts/modal' %>
<%= render partial: 'posts/branch', locals: {
	branch: 'study',
	page_title: 'Find a person who studies the same field as you',
	search_placeholder: 'e.g. nutrition, calculus, astrophysics'
	} %>