<%= render 'posts/modal' %>
<%= render partial: 'posts/branch', locals: {
	branch: 'team',
	page_title: 'Find a person with similar interests as yours to your team',
	search_placeholder: 'e.g. musician for a band, developer for a project'
} %>